<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	<display-name>APG - Abbonamenti Periodici Giunti
		FRAMEWORKS: Hibernate, Gwt
		DATABASE: mysqlcorporate-prod:3306/apg</display-name>
	<description>APG - Abbonamenti Periodici Giunti
		FRAMEWORKS: Hibernate, Gwt
		DATABASE: mysqlcorporate-prod:3306/apg</description>
	
	<!-- Filters -->
	<filter>
		<filter-name>gwtCacheControlFilter</filter-name>
		<filter-class>it.giunti.apg.server.servlet.GWTCacheControlFilter</filter-class>
	</filter>
	<!-- Mapping filters -->
	<filter-mapping>
		<filter-name>gwtCacheControlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Servlets -->
	<servlet>
		<servlet-name>uploadPagamentiServlet</servlet-name>
		<servlet-class>it.giunti.apg.server.servlet.UploadPagamentiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>outputFascicoliServlet</servlet-name>
		<servlet-class>it.giunti.apg.server.servlet.OutputInvioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>outputArticoliListiniServlet</servlet-name>
		<servlet-class>it.giunti.apg.server.servlet.OutputArticoliListiniServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>outputArticoliOpzioniServlet</servlet-name>
		<servlet-class>it.giunti.apg.server.servlet.OutputArticoliOpzioniServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>outputEnqueuedEmailsServlet</servlet-name>
		<servlet-class>it.giunti.apg.server.servlet.OutputEnqueuedEmailsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>rinnovoMassivoServlet</servlet-name>
		<servlet-class>it.giunti.apg.server.servlet.RinnovoMassivoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>queryIstanzeServlet</servlet-name>
		<servlet-class>it.giunti.apg.server.servlet.QueryIstanzeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>configPageServlet</servlet-name>
		<servlet-class>it.giunti.apg.server.servlet.ConfigPageServlet</servlet-class>
	</servlet>
	<!-- Servlet Servizi GWT -->
	<servlet>
		<servlet-name>authServiceImpl</servlet-name>
		<servlet-class>it.giunti.apg.server.services.AuthServiceImpl</servlet-class>
	</servlet>
  	<servlet>
		<servlet-name>anagraficheServiceImpl</servlet-name>
		<servlet-class>it.giunti.apg.server.services.AnagraficheServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>abbonamentiServiceImpl</servlet-name>
		<servlet-class>it.giunti.apg.server.services.AbbonamentiServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>tipiAbbServiceImpl</servlet-name>
		<servlet-class>it.giunti.apg.server.services.TipiAbbServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>lookupServiceImpl</servlet-name>
		<servlet-class>it.giunti.apg.server.services.LookupServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>pagamentiServiceImpl</servlet-name>
		<servlet-class>it.giunti.apg.server.services.PagamentiServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>fascicoliServiceImpl</servlet-name>
		<servlet-class>it.giunti.apg.server.services.FascicoliServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>articoliServiceImpl</servlet-name>
		<servlet-class>it.giunti.apg.server.services.ArticoliServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>opzioniServiceImpl</servlet-name>
		<servlet-class>it.giunti.apg.server.services.OpzioniServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>comunicazioniServiceImpl</servlet-name>
		<servlet-class>it.giunti.apg.server.services.ComunicazioniServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>loggingServiceImpl</servlet-name>
		<servlet-class>it.giunti.apg.server.services.LoggingServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>statServiceImpl</servlet-name>
		<servlet-class>it.giunti.apg.server.services.StatServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>sapServiceImpl</servlet-name>
		<servlet-class>it.giunti.apg.server.services.SapServiceImpl</servlet-class>
	</servlet>

	<!-- Mapping servlet -->
	<servlet-mapping>
		<servlet-name>uploadPagamentiServlet</servlet-name>
		<url-pattern>/apg/uploadPagamenti</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>outputFascicoliServlet</servlet-name>
		<url-pattern>/apg/outputFascicoli</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>outputArticoliListiniServlet</servlet-name>
		<url-pattern>/apg/outputArticoliListini</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>outputArticoliOpzioniServlet</servlet-name>
		<url-pattern>/apg/outputArticoliOpzioni</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>outputEnqueuedEmailsServlet</servlet-name>
		<url-pattern>/apg/outputEnqueuedEmails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rinnovoMassivoServlet</servlet-name>
		<url-pattern>/apg/rinnovoMassivo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>queryIstanzeServlet</servlet-name>
		<url-pattern>/apg/queryIstanze</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>configPageServlet</servlet-name>
		<url-pattern>/configpage</url-pattern>
	</servlet-mapping>
	
	<!-- Mapping Servizi GWT -->
	<servlet-mapping>
		<servlet-name>authServiceImpl</servlet-name>
		<url-pattern>/apg/servAuth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>anagraficheServiceImpl</servlet-name>
		<url-pattern>/apg/servAnagrafiche</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>abbonamentiServiceImpl</servlet-name>
		<url-pattern>/apg/servAbbonamenti</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>tipiAbbServiceImpl</servlet-name>
		<url-pattern>/apg/servTipiAbb</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lookupServiceImpl</servlet-name>
		<url-pattern>/apg/servLookup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pagamentiServiceImpl</servlet-name>
		<url-pattern>/apg/servPagamenti</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fascicoliServiceImpl</servlet-name>
		<url-pattern>/apg/servFascicoli</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>articoliServiceImpl</servlet-name>
		<url-pattern>/apg/servArticoli</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>opzioniServiceImpl</servlet-name>
		<url-pattern>/apg/servOpzioni</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>comunicazioniServiceImpl</servlet-name>
		<url-pattern>/apg/servComunicazioni</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loggingServiceImpl</servlet-name>
		<url-pattern>/apg/servLogging</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>statServiceImpl</servlet-name>
		<url-pattern>/apg/servStat</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sapServiceImpl</servlet-name>
		<url-pattern>/apg/servSap</url-pattern>
	</servlet-mapping>
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Apg.html</welcome-file>
	</welcome-file-list>

</web-app>
