<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	<display-name>APG - Web services
		FRAMEWORKS: Hibernate, Gwt, Jax-ws, Jaxb
		DATABASE: mysqlcorporate-prod:3306/apg</display-name>
	<description>APG - Web services
		FRAMEWORKS: Hibernate, Gwt, Jax-ws, Jaxb
		DATABASE: mysqlcorporate-prod:3306/apg</description>
	
	<listener>
		<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>
	
	<!-- Servlet -->
	<servlet>
		<servlet-name>installPageServlet</servlet-name>
		<servlet-class>it.giunti.apg.ws.servlet.InstallPageServlet</servlet-class>
	</servlet>
	
	<!-- API 03 -->
	<servlet>
		<servlet-name>api03_FindIssues</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.FindIssuesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_GetSubscriptionIssues</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.GetSubscriptionIssuesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_GetCustomer</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.GetCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_CreateCustomer</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.CreateCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_UpdateCustomer</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.UpdateCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_AuthenticateByCodAbbo</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.AuthenticateByCodAbboServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_RequestCustomerMerge</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.RequestCustomerMergeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_GetCustomerSubscriptions</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.GetCustomerSubscriptionsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_GetSubscription</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.GetSubscriptionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_CreateSubscription</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.CreateSubscriptionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_UpdateOptions</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.UpdateOptionsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_UpdateSubscriptionOffering</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.UpdateSubscriptionOfferingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_UpdateSubscriptionOptions</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.UpdateSubscriptionOptionsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_PaySubscription</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.PaySubscriptionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_GetOffering</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.GetOfferingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_GetOption</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.GetOptionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_GetCustomerInvoices</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.GetCustomerInvoicesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_GetInvoiceFile</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.GetInvoiceFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_GetInvoice</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.GetInvoiceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_GetPaymentFormFile</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.GetPaymentFormFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_GetPaymentForm</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.GetPaymentFormServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_GetRenewalOffering</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.GetRenewalOfferingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_FindSubscriptionsByAction</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.FindSubscriptionsByActionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_FindModifiedCrmData</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.FindModifiedCrmDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api03_FindDeletedCrmData</servlet-name>
		<servlet-class>it.giunti.apg.ws.api03.FindDeletedCrmDataServlet</servlet-class>
	</servlet>
	
	<!-- API 04 -->
	<servlet>
		<servlet-name>api04_FindIssues</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.FindIssuesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_GetSubscriptionIssues</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.GetSubscriptionIssuesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_GetCustomer</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.GetCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_CreateCustomer</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.CreateCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_UpdateCustomer</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.UpdateCustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_AuthenticateByCodAbbo</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.AuthenticateByCodAbboServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_GetIdCustomerByCodAbbo</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.GetIdCustomerByCodAbboServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_RequestCustomerMerge</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.RequestCustomerMergeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_GetCustomerSubscriptions</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.GetCustomerSubscriptionsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_GetSubscription</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.GetSubscriptionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_CreateSubscription</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.CreateSubscriptionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_UpdateOptions</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.UpdateOptionsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_UpdateSubscriptionOffering</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.UpdateSubscriptionOfferingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_UpdateSubscriptionOptions</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.UpdateSubscriptionOptionsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_PaySubscription</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.PaySubscriptionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_GetOffering</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.GetOfferingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_GetOption</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.GetOptionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_GetCustomerInvoices</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.GetCustomerInvoicesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_GetInvoiceFile</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.GetInvoiceFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_GetInvoice</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.GetInvoiceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_GetPaymentFormFile</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.GetPaymentFormFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_GetPaymentForm</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.GetPaymentFormServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_GetRenewalOffering</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.GetRenewalOfferingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_FindSubscriptionsByAction</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.FindSubscriptionsByActionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_FindModifiedCrmData</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.FindModifiedCrmDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api04_FindDeletedCrmData</servlet-name>
		<servlet-class>it.giunti.apg.ws.api04.FindDeletedCrmDataServlet</servlet-class>
	</servlet>
	
	
	<!-- Web Services -->
	<servlet>
		<servlet-name>hbsauth</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>giuntiscuolainfo</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>giuntiscuolainfo2</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>paperlitsignon</servlet-name>
		<servlet-class>it.giunti.apg.ws.paperlit.PaperlitSignOnServlet</servlet-class>
	</servlet>

	<!-- Mapping Servlet -->
	<servlet-mapping>
		<servlet-name>installPageServlet</servlet-name>
		<url-pattern>/installpage</url-pattern>
	</servlet-mapping>
	
	<!-- API 03 -->
	<servlet-mapping>
		<servlet-name>api03_FindIssues</servlet-name><url-pattern>/api03/find_issues</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_GetSubscriptionIssues</servlet-name><url-pattern>/api03/get_subscription_issues</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_GetCustomer</servlet-name><url-pattern>/api03/get_customer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_CreateCustomer</servlet-name><url-pattern>/api03/create_customer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_UpdateCustomer</servlet-name><url-pattern>/api03/update_customer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_AuthenticateByCodAbbo</servlet-name><url-pattern>/api03/authenticate_by_cod_abbo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_RequestCustomerMerge</servlet-name><url-pattern>/api03/request_customer_merge</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>api03_GetCustomerSubscriptions</servlet-name><url-pattern>/api03/get_customer_subscriptions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_GetSubscription</servlet-name><url-pattern>/api03/get_subscription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_CreateSubscription</servlet-name><url-pattern>/api03/create_subscription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_UpdateOptions</servlet-name><url-pattern>/api03/update_options</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_UpdateSubscriptionOffering</servlet-name><url-pattern>/api03/update_subscription_offering</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_UpdateSubscriptionOptions</servlet-name><url-pattern>/api03/update_subscription_options</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_PaySubscription</servlet-name><url-pattern>/api03/pay_subscription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_GetOffering</servlet-name><url-pattern>/api03/get_offering</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_GetOption</servlet-name><url-pattern>/api03/get_option</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_GetCustomerInvoices</servlet-name><url-pattern>/api03/get_customer_invoices</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_GetInvoiceFile</servlet-name><url-pattern>/api03/get_invoice_file</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_GetInvoice</servlet-name><url-pattern>/api03/get_invoice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_GetPaymentFormFile</servlet-name><url-pattern>/api03/get_payment_form_file</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_GetPaymentForm</servlet-name><url-pattern>/api03/get_payment_form</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_GetRenewalOffering</servlet-name><url-pattern>/api03/get_renewal_offering</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_FindSubscriptionsByAction</servlet-name><url-pattern>/api03/find_subscriptions_by_action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_FindModifiedCrmData</servlet-name><url-pattern>/api03/find_modified_crm_data</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api03_FindDeletedCrmData</servlet-name><url-pattern>/api03/find_deleted_crm_data</url-pattern>
	</servlet-mapping>
	
	<!-- API 04 -->
	<servlet-mapping>
		<servlet-name>api04_FindIssues</servlet-name><url-pattern>/api04/find_issues</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_GetSubscriptionIssues</servlet-name><url-pattern>/api04/get_subscription_issues</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_GetCustomer</servlet-name><url-pattern>/api04/get_customer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_CreateCustomer</servlet-name><url-pattern>/api04/create_customer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_UpdateCustomer</servlet-name><url-pattern>/api04/update_customer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_AuthenticateByCodAbbo</servlet-name><url-pattern>/api04/authenticate_by_cod_abbo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_GetIdCustomerByCodAbbo</servlet-name><url-pattern>/api04/get_id_customer_by_cod_abbo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_RequestCustomerMerge</servlet-name><url-pattern>/api04/request_customer_merge</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>api04_GetCustomerSubscriptions</servlet-name><url-pattern>/api04/get_customer_subscriptions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_GetSubscription</servlet-name><url-pattern>/api04/get_subscription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_CreateSubscription</servlet-name><url-pattern>/api04/create_subscription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_UpdateOptions</servlet-name><url-pattern>/api04/update_options</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_UpdateSubscriptionOffering</servlet-name><url-pattern>/api04/update_subscription_offering</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_UpdateSubscriptionOptions</servlet-name><url-pattern>/api04/update_subscription_options</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_PaySubscription</servlet-name><url-pattern>/api04/pay_subscription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_GetOffering</servlet-name><url-pattern>/api04/get_offering</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_GetOption</servlet-name><url-pattern>/api04/get_option</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_GetCustomerInvoices</servlet-name><url-pattern>/api04/get_customer_invoices</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_GetInvoiceFile</servlet-name><url-pattern>/api04/get_invoice_file</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_GetInvoice</servlet-name><url-pattern>/api04/get_invoice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_GetPaymentFormFile</servlet-name><url-pattern>/api04/get_payment_form_file</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_GetPaymentForm</servlet-name><url-pattern>/api04/get_payment_form</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_GetRenewalOffering</servlet-name><url-pattern>/api04/get_renewal_offering</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_FindSubscriptionsByAction</servlet-name><url-pattern>/api04/find_subscriptions_by_action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_FindModifiedCrmData</servlet-name><url-pattern>/api04/find_modified_crm_data</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api04_FindDeletedCrmData</servlet-name><url-pattern>/api04/find_deleted_crm_data</url-pattern>
	</servlet-mapping>
	
	
	<!-- Mapping Web Services -->
	<servlet-mapping>
		<servlet-name>hbsauth</servlet-name><url-pattern>/hbsauth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>giuntiscuolainfo</servlet-name><url-pattern>/giuntiscuolainfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>giuntiscuolainfo2</servlet-name><url-pattern>/giuntiscuolainfo2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>paperlitsignon</servlet-name><url-pattern>/paperlitsignon</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
